.header-inner__title {
  background: linear-gradient(91.38deg, rgba(255, 255, 255, 0.22) 4.11%, rgba(255, 255, 255, 0) 127.86%);
  border-radius: 20px;
  width: 60%;
  padding: 3% 6%;
  text-align: center;
  margin: 0 auto;
  line-height: 46px;
}
