.main-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6%;

  &__logo {
    background: $logo;
    background-size: contain;
    align-self: center;
    width: 6.5vw;
    height: 2.2vh;
  }

  &__block {
    display: flex;
    flex-direction: row;
    gap: 10%;
  }

  &__search {
    background: linear-gradient(93.86deg, rgba(255, 255, 255, 0.1357) 10%, rgba(255, 255, 255, 0) 172.3%);
    border-radius: 20px;
    display: flex;
    gap: 5%;
    padding: 0.5% 1.5%;
  }

  &__search-input {
    background: none;
    border: none;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;

    &:hover,
    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__searching {
    background-size: contain;
    background: url("../img/manifest/icons/search.svg") no-repeat center;
    align-items: center;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    border: 0;
    outline: none;
  }
}
