.tegs {
  background: url(../img/manifest/back/back_3.png) no-repeat;
  background-size: cover;
  padding: 0 20%;
  padding-top: 10%;
  padding-bottom: 20%;
}

.tegs__subtitle {
  text-align: center;
}
