.thems {
  background: url(../img/manifest/back/back_them.png);
  background-size: cover;
  padding: 0 10%;
  padding-top: 2%;
  padding-bottom: 7%;

}

.thems__title {
  color: $blue;
  text-align: center;
  margin-bottom: 5%;
}

