.theory-list__title {
  background: url(../img/manifest/icons/arrow.svg) no-repeat;
  background-position-x: 18%;
  background-size: contain;
  text-align: center;
  padding-bottom: 5.4%;
}

.theory-list__title--rotate {
  background: url(../img/manifest/icons/arrow-rotate.svg) no-repeat;
  background-position: right;
  background-size: contain;
  padding-bottom: 8%;
}

