// colors
$main: #fff;
$blue: #3860ED;
$grey: #EEEEEE;
$hover: #12329C;
$active: #12329C;

// fonts
$main-font: 'Inter', sans-serif;
$text: #fff;
$text-w: #ffffff;

// breakpoints
$xs-max: 575.9px;
$sm: 576px;
$sm-max: 767.9px;
$md: 768px;
$md-max: 960px;
$lg: 992px;
$lg-max: 1199.9px;
$xl: 1200px;
$xl-max: 1440px;

// center-wrapper
$sm-c: 540px;
$md-c: 720px;
$lg-c: 992px;
$xl-c: 1140px;

// container
$container-md: 698px;
$container-xl: 1080px;

// logo
$logo: url(../img/manifest/icons/logo.svg) no-repeat;

